body {
    background-color: #3E3232; /* Dunkelbrauner Hintergrund für das gesamte Dokument */
    color: #F7DED0; /* Helle Schriftfarbe */
}

div {
    background-color: #503C3C; /* Dunkelrot für allgemeine Container */
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

form {
    background-color: #7E6363; /* Mittelrot für Formulare */
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
    background-color: #A87C7C; /* Helleres Rot für Datei-Upload-Button */
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #A87C7C; /* Helleres Rot für Submit-Button */
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 37px;
}

.div2 {
    background-color: #7E6363; /* Mittelrot für Container div2 */
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.btn {
    background-color: #A87C7C; /* Helleres Rot für allgemeine Buttons */
    border: solid #7E6363;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #503C3C; /* Dunkleres Rot für Hover-Effekt */
    border: solid #503C3C;
    border-radius: 25px;
}

h1, h2, h3 {
    font-family: Arial, serif;
    color: #F7DED0; /* Helle Schriftfarbe für Überschriften */
}

p {
    font-family: Arial, serif;
    color: #F7DED0; /* Helle Schriftfarbe für Text */
}
